*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#fff;
    font-family: "Outfit" , sans-serif;
    font-weight: 300 400 600;
    font-size: 18px;
    margin:  auto;
    line-height: 1.45;
}
main{
    padding-left: 450px;
    padding-top: 50px;
    padding-bottom;
}/*
.card-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    margin: 0 auto;
    max-width: 375px;
    flex-direction: row;
    position: relative;
    top: -20;

}
.card-body{
    
    
    

     }
.image-container{
    width: 100%;
}
.image{
    display: block;
    border-radius: 70%;
    width: 100%;

}
h4{
    padding-left: 10px;
}*/
.card-container{
    text-align: center;
    box-shadow: 10px 20px px #36454F	;
    width: 350px;
    padding-left: 10px;
    border-radius: 5%;
    border: 1px solid #36454F;
}
.card-body{
    padding: 7px;
}
.image-container{
    width: 50%;
    padding: 5%;

}
img{
    display: block;
    width: 30%;
}
h4{
    padding-top: 2px;
}
ul{
    list-style: none;
}